@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advanced test for developers in PrimeVigilance</h1>
    <p class="lead">I know that this mini-application can be done better with or without frameworks, I strive for this..</p>
   

</div>

<div class="row">
    <div class="col-md-4">

        <h2>All functionality is placed in the navigation</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Projects")">Learn more &raquo;</a></p>
    </div>
    
</div>